[submodule "lua53/lua"]
	path = lua53/lua
	url = https://github.com/lua/lua.git
[submodule "lvgl/lvgl"]
	path = lvgl/lvgl
	url = https://github.com/littlevgl/lvgl.git
[submodule "ot-tock/openthread"]
	path = ot-tock/openthread
	url = https://github.com/openthread/openthread.git
[submodule "examples/lora/RadioLib"]
	path = examples/lora/RadioLib
	url = https://github.com/jgromes/RadioLib.git
