[submodule "lua53/lua"]
	path = lua53/lua
	url = https://github.com/lua/lua.git
[submodule "lvgl/lvgl"]
	path = lvgl/lvgl
	url = https://github.com/littlevgl/lvgl.git
[submodule "libopenthread/openthread"]
	path = libopenthread/openthread
	url = https://github.com/openthread/openthread.git
[submodule "libradio/RadioLib"]
	path = libradio/RadioLib
	url = https://github.com/jgromes/RadioLib.git
