name: ci
env:
  TERM: xterm # Makes tput work in actions output

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
  pull_request: # Run CI for PRs on any branch
  merge_group:

jobs:
  ci-format:
    strategy:
      matrix:
        os: [ubuntu-22.04]
    # The type of runner that the job will run on
    runs-on: ${{ matrix.os }}

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: false # LVGL makefile manually installs the submodule

      - uses: carlosperate/arm-none-eabi-gcc-action@v1
        with:
          release: '10.3-2021.07' # The arm-none-eabi-gcc release to use.

      - name: setup-riscv-toolchain
        run: sudo apt-get install -y gcc-riscv64-unknown-elf

      - name: Disable wget progress output
        run: |
          echo "verbose = off" >> $HOME/.wgetrc

      - name: ci-format
        run: pushd examples; ./format_all.sh || exit; popd

  ci-build:
    strategy:
      matrix:
        os: [ubuntu-22.04]
    # The type of runner that the job will run on
    runs-on: ${{ matrix.os }}

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive

      - uses: carlosperate/arm-none-eabi-gcc-action@v1
        with:
          release: '10.3-2021.07' # The arm-none-eabi-gcc release to use.

      - name: setup-riscv-toolchain
        run: sudo apt-get install -y gcc-riscv64-unknown-elf

      - name: Disable wget progress output
        run: |
          echo "verbose = off" >> $HOME/.wgetrc

      - name: ci-build
        run: pushd examples; ./build_all.sh || exit; popd

      - name: ci-debug-build
        run: pushd examples/blink; make debug RAM_START=0x20004000 FLASH_INIT=0x30051 || exit; popd
