name: ci
env:
  TERM: xterm # Makes tput work in actions output

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
  pull_request: # Run CI for PRs on any branch
  merge_group:

jobs:
  ci-format:
    strategy:
      matrix:
        os: [ubuntu-latest]
    # The type of runner that the job will run on
    runs-on: ${{ matrix.os }}

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: false # LVGL makefile manually installs the submodule
          show-progress: false
      - name: Disable wget progress output
        run: |
          echo "verbose = off" >> $HOME/.wgetrc
      - name: ci-format
        run: pushd examples; ./format_all.sh || exit; popd

  ci-build:
    # Build on the newest-available OS with newest-available compilers and with
    # default compiler versions from the oldest current Ubuntu LTS
    strategy:
      matrix:
        os: [ubuntu-latest, ubuntu-22.04]
    runs-on: ${{ matrix.os }}

    steps:
      ###########################################
      # Install toolchains for ubuntu-latest
      - name: Install ARM toolchain (ubuntu latest)
        if: ${{ matrix.os == 'ubuntu-latest' }}
        uses: carlosperate/arm-none-eabi-gcc-action@v1
        with:
          release: 'latest'
      - name: Install RISC-V toolchain (ubuntu latest)
        if: ${{ matrix.os == 'ubuntu-latest' }}
        # Install latest RISC-V toolchains, uses xPack
        # https://xpack-dev-tools.github.io/
        run: |
          npm install --location=global xpm@latest
          xpm install --global @xpack-dev-tools/riscv-none-elf-gcc@latest
          tree -a "$HOME/.local/xPacks/@xpack-dev-tools/riscv-none-elf-gcc/" || echo "nope"
          RISCV_DIR="$(find "$HOME/.local/xPacks/@xpack-dev-tools/riscv-none-elf-gcc" -maxdepth 1 -type d -name '[0-9]*' | sort -V | tail -n 1)"
          if [ -d "$RISCV_DIR/.content/bin" ]; then
            echo "$RISCV_DIR/.content/bin" >> "$GITHUB_PATH"
          fi

      ###########################################
      # Install toolchains for ubuntu LTS
      # Use apt to ensure we are matching 'out of the box' LTS
      - name: Install Toolchains
        if: ${{ matrix.os == 'ubuntu-22.04' }}
        run: sudo apt-get install -y gcc-arm-none-eabi gcc-riscv64-unknown-elf

      ###########################################
      # Report what toolchains are installed
      - name: report-toolchain-versions
        run: |
          arm-none-eabi-gcc --version
          riscv-none-elf-gcc --version || riscv64-unknown-elf-gcc --version

      ###########################################
      # libtock-c specific build steps begin here
      - uses: actions/checkout@v4
        with:
          submodules: recursive
          show-progress: false
      - name: Disable wget progress output
        run: |
          echo "verbose = off" >> $HOME/.wgetrc
      - name: ci-build
        run: pushd examples; ./build_all.sh || exit; popd
      - name: ci-debug-build
        run: pushd examples/blink; make debug RAM_START=0x20004000 FLASH_INIT=0x30051 || exit; popd

